<div class="container-body">
  <div class="title">QUIZZ</div>


  <div *ngFor="let item of questions;index as j">
    <mat-card class="question_item">
      <p style="font-size: 20px;">{{j+1}}. {{item.question}}</p>
      <mat-radio-group>
        <mat-radio-button *ngFor="let choice of item.choices;index as i" [value]="i">
          {{choice}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </div>

  <button mat-raised-button color="primary" class="submit_quiz" color="primary" (click)="submit()">SUBMIT QUIZ</button>

  <br>
  <h2 *ngIf="quizCompleted">Quizz completed! You have scored: {{this.score}} </h2>

</div>