<div class="container-body">
    <div class="title">PROJECTS</div>
    <br>
    <br>
    <div class="showedData">

        <div class="list">
            <div class="title2">Tasks</div>
            <br>
            <button class="list-item" *ngFor="let item of items_task" (click)="openDialog(item)">
                <span class="item-text item-element">{{item.timestamp.split('T')[0]}}</span>
                <span class="item-text item-element">{{item.name}}</span>
                <span class="item-text item-element">{{item.points}} points</span>
                <span class="item-element">
                    <button mat-mini-fab disabled>
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                </span>
            </button>
        </div>

        <div class="list2">
            <div class="title3">Preparation</div>
            <br>
            <div class="list3">
                <div class="title4">Mandatory</div>
                <br>
                <button class="list-item" *ngFor="let item of items_mandatory" routerLink="/course/2">
                    <span class="item-text item-element">{{item.name}}</span>
                    <span class="item-text item-element">{{item.xp}} EXPERIENCE</span>
                    <span class="item-element">
                        <button mat-mini-fab disabled>
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </span>
                </button>
            </div>
            <div class="list4">
                <div class="title5">Good to know</div>
                <br>
                <button class="list-item" *ngFor="let item of items_optional" routerLink="/course/2">
                    <span class="item-text item-element">{{item.name}}</span>
                    <span class="item-text item-element">{{item.xp}} EXPERIENCE</span>
                    <span class="item-element">
                        <button mat-mini-fab disabled>
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </span>
                </button>
            </div>


        </div>
    </div>
</div>