<h1 mat-dialog-title>Send Email</h1>
<div mat-dialog-content>
    <p [align]="'start'">To:{{email}}</p>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Subject</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Message</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" color="primary" style="margin-left: 8px;">Send</button>
        </div>
    </form>
</div>