<div fxLayoutAlign="center center" fxFlexFill class="main-div" class="formContainer">
    <div fxLayoutAlign="center center" fxFlexFill class="main-div" class="formContainer">
        <mat-card fxFlex="70">
            <mat-toolbar color="primary" class="containerToolbar">
                <button mat-icon-button color="accent" routerLink="/login">
                    <mat-icon aria-label="Example icon-button with a heart icon">arrow_back_ios</mat-icon>
                </button>
                Reset password</mat-toolbar>
            <mat-vertical-stepper linear #stepper completed="false">
                <mat-step [stepControl]="emailFormGroup">
                    <ng-template matStepLabel>Email</ng-template>
                    <form fxLayout="column" class="login-form" [formGroup]="emailFormGroup" fxLayoutAlign="stretch">
                        <mat-form-field appearance="fill">
                            <mat-label>Insert your email</mat-label>
                            <input type="email" matInput formControlName="email" autocomplete="">
                        </mat-form-field>
                        <button mat-button (click)="onSubmitEmail(stepper)">Send</button>
                    </form>
                </mat-step>
                <mat-step [stepControl]="codeFormGroup">
                    <form [formGroup]="codeFormGroup" class="login-form" fxLayoutAlign="stretch" fxLayout="column">
                        <ng-template matStepLabel>Verify code</ng-template>
                        <p>Verification code sent, please verify your email!</p>
                        <mat-form-field>
                            <mat-label>Code</mat-label>
                            <input type="text" matInput formControlName="code" autocomplete="">
                        </mat-form-field>
                        <button mat-button (click)="onSubmitCode(stepper)">Submit</button>
                    </form>
                </mat-step>
                <mat-step [stepControl]="newPasswordFormGroup">
                    <form [formGroup]="newPasswordFormGroup" class="login-form" fxLayoutAlign="stretch"
                        fxLayout="column">
                        <ng-template matStepLabel>New password</ng-template>
                        <mat-form-field>
                            <mat-label>New Password</mat-label>
                            <input type="password" matInput formControlName="password" autocomplete="">
                        </mat-form-field>
                        <button mat-button (click)="onSubmitPassword()">Submit</button>
                    </form>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card>
    </div>
</div>