<div class="container-body">
    <div class="title">PROJECTS</div>
    <br>
    <br>
    <div class="list">
        <button class="list-item" *ngFor="let item of items;index as i">
            <span
                class="item-text item-element">{{item.timestamp.split('T')[0]}}</span><!--item.timestamp.split('T')[0]-->
            <span class="item-text item-element">{{item.name}}</span>
            <span class="item-text item-element">{{item.managerName}}</span>
            <span class="item-element">
                <button mat-mini-fab disabled>
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </span>
        </button>
    </div>
</div>