<div class="container-body">
    <div class="elements">
        <div class="row-1 displayed-profile">
            <br>
            <br>
            <img class="displayed-image justify-content-center align-items-center" src="../../assets/placeholder.jpg">
            <br>
            <br>
            <br>
            <div class="size-1 justify-content-md-center">Nume Prenume</div>
            <div class="bar" style="margin-top: 10px;"></div>
            <div class="size-1 justify-content-md-center">Functie</div>
            <div class="bar" style="margin-top: 10px;"></div>
            <div class="size-1 justify-content-md-center">Telefon</div>
            <div class="bar" style="margin-top: 10px;"></div>
            <div class="size-1 justify-content-md-center">Email</div>
            <div class="bar" style="margin-top: 10px;"></div>
        </div>
        <div class="row-2" style="margin-top: 15px;">
            <div class="title justify-content-md-center">PROFILE</div>
            <div class="details">
                <div style="display: flex; justify-content: space-between;">
                    <div class="size-2">LEADERBOARD RANK</div>
                    <div class="size-21">2</div>
                </div>
                <div class="bar" style="margin-left: 1%; width: 99%;"></div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="size-2">EXPERIENCE POINTS</div>
                    <div class="size-21">2</div>
                </div>
                <div class="bar" style="margin-left: 1%; width: 99%;"></div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="size-2">COINS</div>
                    <div class="size-21">2</div>
                </div>
                <div class="bar" style="margin-left: 1%; width: 99%;"></div>
            </div>

            <div style="display: flex;">
                <div class="details">
                    <div style="display: flex; justify-content: space-between;">
                        <div class="size-2">BADGES</div>
                        <div class="size-21">1231</div>
                    </div>
                    <div class="bar" style="margin-left: 1%; width: 99%;"></div>
                    <div class="size-2" style="text-align: center;">#BADGE 1</div>
                    <div class="size-2" style="text-align: center;">#BADGE 2</div>
                    <div class="size-2" style="text-align: center;">#BADGE 3</div>
                    <div class="size-2" style="text-align: center;">#BADGE 3</div>
                    <div class="size-2" style="text-align: center;">#BADGE 3</div>
                    <div class="size-2" style="text-align: center;">#BADGE 3</div>
                    <div class="size-2" style="text-align: center;">#BADGE 3</div>
                </div>
                <div class="details">
                    <div style="display: flex; justify-content: space-between;">
                        <div class="size-2">POINTS</div>
                        <div class="size-21">123123</div>
                    </div>
                    <div class="bar" style="margin-left: 1%; width: 99%;"></div>
                    <div class="size-2" style="text-align: center;">#BADGE 1</div>
                    <div class="size-2" style="text-align: center;">#BADGE 2</div>
                    <div class="size-2" style="text-align: center;">#BADGE 3</div>
                </div>
            </div>


        </div>
    </div>
</div>