<div class="container-body">
    <div class="elements">
        <div class="row-1 displayed-profile">
            <div class="selected-item-title justify-content-md-center">TOP 1</div>
            <br>
            <img class="displayed-image justify-content-center align-items-center" src="../../assets/placeholder.jpg">
            <div class="selected-item-title justify-content-md-center">Nume Prenume</div>
            <div class="selected-item-title justify-content-md-center">Functie</div>
            <div class="bar" style="margin-top: 30px;"></div>
            <div class="selected-item-badge justify-content-md-center">Badge 1</div>
            <div class="selected-item-badge justify-content-md-center">Badge 2</div>
            <div class="selected-item-badge justify-content-md-center">Badge 3</div>
            <div class="selected-item-badge justify-content-md-center">Badge 4</div>
        </div>
        <div class="row-2" style="margin-top: 15px;">
            <div class="title justify-content-md-center">LEADERBOARD</div>
            <div class="profile-list">
                <div type="button" class="items" *ngFor="let item of colors;index as i"
                    [ngStyle]="{'background-color' : item}">
                    <div class="item-title justify-content-md-center">{{i}}</div>
                    <img class="item-image justify-content-center align-items-center"
                        src="../../assets/placeholder.jpg">
                    <div class="details">
                        <div class="item-name">NUME PRENUME</div>
                        <div class="item-details">NUME FUNCTIE</div>
                        <div class="bar" style="height: 5px; margin-top: 15px;"></div>
                        <div class="item-details">5000 PUNCTE</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>