<div class="container-body">
    <div class="elements">
        <div class="row-1 displayed-profile">
            <div class="selected-item-title justify-content-md-center">TOP {{index+1}}</div>
            <br>
            <img class="displayed-image justify-content-center align-items-center" src="../../assets/placeholder.jpg">
            <div class="selected-item-title justify-content-md-center">{{items[index].username}}
            </div>
            <div class="selected-item-title justify-content-md-center">{{ items[index].function !== "" ?
                items[index].function : "Developer" }}</div>
            <div class="bar" style="margin-top: 30px;"></div>
            <div *ngIf="index!==-1">
                <div class="selected-item-badge justify-content-md-center" *ngFor="let item of items[index].badges">
                    <img src="./../../assets/icon_2.png">{{item.name}}
                </div>
            </div>


        </div>
        <div class="row-2" style="margin-top: 15px;">
            <div class="title justify-content-md-center">LEADERBOARD</div>
            <div class="profile-list">
                <div type="button" class="items" *ngFor="let item of items;index as i" (click)="changeDisplayed(i)"
                    [ngStyle]="{'background-color' : colors[i%4]}">
                    <div class="item-title justify-content-md-center">{{i + 1}}</div>
                    <img class="item-image justify-content-center align-items-center"
                        src="../../assets/placeholder.jpg">
                    <div class="details">
                        <div class="item-name"> {{item.username}}</div>
                        <div class="item-details">{{ item.function !== "" ? item.function : "Developer" }}</div>
                        <div class="bar" style="height: 5px; margin-top: 15px;"></div>
                        <div class="item-details">{{item.experience}} XP</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>