<form fxLayout="column" class="login-form" [formGroup]="formGroup_login">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" autocomplete="">
    </mat-form-field>

    <a routerLink="/reset-password">Forgot password?</a>
    <br>
    <button mat-raised-button type="button" (click)="try_login()">Login</button>
</form>