<mat-toolbar color="primary">
  <span>APP NAME</span>
  <span class="spacer"></span>
  <span routerLink="projects" type="button" class="nav-element">
    <div class="nav-element-text" routerLinkActive="active">Projects</div>
  </span>
  <span routerLink="profile" type="button" class="nav-element">
    <div class="nav-element-text" routerLinkActive="active">Leaderboard</div>
  </span>
  <span routerLink="profile" type="button" class="nav-element">
    <div class="nav-element-text" routerLinkActive="active">Profile</div>
  </span>
  <span routerLink="profile" type="button" class="nav-element">
    <div class="nav-element-text" routerLinkActive="active">Rewards</div>
  </span>
</mat-toolbar>
<mat-drawer-container [ngStyle]="{backgroundImage:'url(./assets/blured-background.jpg)'}">
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="transparent">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</mat-drawer-container>